/* 
** The Header Media Queries **
** Tweak as per your needs **
*/

a:link {
    color: #FFFFFF;
  }
  
  /* visited link */
  a:visited {
    color: #FFFFFF;
  }
  
  /* mouse over link */
  a:hover {
    color: #FFFFFF;
  }
  
  /* selected link */
  a:active {
    color: #FFFFFF;
  }


.brand {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 30px; }

.site-header {
  position: relative;
  background-color: #000000;}

.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;}
  @media (min-width: 600px) {
    .site-header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0; } }
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex; } }

@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #000000;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); } }

.nav__item a {
  display: block;
  padding: 1.5rem 1rem; }

.nav__toggle {
  display: none; }
  @media (max-width: 599px) {
    .nav__toggle {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem; } }

.home {
  position: absolute; 
  background-color: #222121;
  font-family: "Mulish";
	font-size: 30px;
	color: #767676;
  width: 100%; height: 100%;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 20px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centeredkinda {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 300px;
  font-size: 50px;
}

.centeredkinda2 {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 100px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn {
  background-color: #767676;
  border: none;
  color: black;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}


.centeredkinda3 {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 300px;
}
